<div id="{{mojit_view_id}}">
  <nav id="movingPommeMenu">
  <div class="pure-menu pure-menu-open">
    <ul>
      <li><a href="#main">{{lang.main}}</a></li>
      <li><a href="#venue">{{lang.venue}}</a></li>
      <li><a href="#photos">{{lang.photos}}</a></li>
      <li><a href="#util">{{lang.util}}</a></li>

    </ul>
  </div>
  </nav>

  <div class="content">
    <div id="main">
      Yoopi
    </div>

    <div id="venue">
      Yoopi
    </div>
    <div id="photos">
      Yoopi
    </div>
    <div id="util">
      Yoopi infos utiles
    </div>
  </div>
</div>

