<!--

a form,
the button do not submit the form but use the mojit proxy to call the create action of the controller


-->
<div id="{{mojit_view_id}}">
  <form action="">
    <label>Name: <input name="name" type="text" /> </label>
     <label>First Name: <input name="firstName" type="text" /> </label>
     <label>Vegetarian: <input name="veget" type="checkbox" /></label>
     <label>Need hotel: <input name="needHotel" type="checkbox" /></label>
     <label>From: <input name="hotelStart" type="date" /></label>
     <label>To: <input name="hotelEnd" type="date" /></label>
     <label>Language: <input name="lang" type="text" /></label>
     <button>Ok</button>

     
  </form>
</div>
