<div id="{{mojit_view_id}}" class="yui3-skin-sam">
  <style>
    .yui3-popup-calendar-hidden {
      display: none;
    }
    .yui3-popup-calender {
      position: absolute;
    }
  </style>
  {{#if error}} 
  <p class="error">
  {{error}}
  </p>
  {{else}}
  <form class="yui3-form yui3-form-aligned" action="" method="POST">
    <fieldset>
      <input name="id" type="hidden" value="{{data.id}}"/>

      <div class="yui3-control-group" ><label> {{lang.name}}:</label> <input name="name" type="text" value="{{data.name}}" {{#if update}}readonly {{/if}} />
      </div>
      <div class="yui3-control-group"><label> {{lang.firstName}}: </label> <input name="firstName" type="text" value="{{data.firstName}}"  {{#if update}}readonly {{/if}} />
      </div>
      <div class="yui3-control-group"> <label> {{lang.address}}: </label> <input name="address" type="text"  value="{{data.address}}" />
      </div>
      <div class="yui3-control-group"> <label> {{lang.email}}: </label> <input name="email" type="text"  value="{{data.email}}" />
      </div>
      <div class="yui3-control-group">
        <div class="yui3-control-group"> 
          <input type="hidden" value="0" name="veget" />
          <label> {{lang.veget}}: </label> <input name="veget" type="checkbox" {{#if data.veget}}checked {{/if}} value="1" />  

        </div>
        <div class="yui3-control-group">
          <input type="hidden" value="0" name="needHotel" />
          <label> {{lang.needHotel}}: </label> <input name="needHotel" type="checkbox" value="1" {{#if data.needHotel}}checked {{/if}} />  
        </div>
        <div class="yui3-control-group"> <label> {{lang.hotelStart}}: </label> <input name="hotelStart" type="text" value="{{data.hotelStart}}" class="time" />  
        </div>
        <div class="yui3-control-group"> <label> {{lang.hotelEnd}}: </label> <input name="hotelEnd" type="text" value="{{data.hotelEnd}}" class="time" />  
        </div>
      </div>
      <div class="yui3-controls"> <button class="pure-button yui3-button">{{lang.submit}}</button>
      </div> 
    </fieldset>
  </form>
  {{/if}}
</div>
