<div class="yui3-skin-sam" id="{{mojit_view_id}}">
  <style>
    .yui3-popup-calendar-hidden {
      display: none;
    }
  </style>
  {{#if error}} 
  <p class="error">
  {{error}}
  </p>
  {{else}}
  <form class="yui3-form yui3-form-aligned" action="" method="POST">
    <fieldset>
      <input name="id" type="hidden" value="{{id}}"/>

      <div class="yui3-control-group" ><label> Name:</label> <input name="name" type="text" value="{{name}}" readonly />
      </div>
      <div class="yui3-control-group"><label> First Name: </label> <input name="firstName" type="text" value="{{firstName}}" readonly/>
      </div>
      <div class="yui3-control-group"> <label> email: </label> <input name="email" type="text"  value="{{email}}" />
      </div>
      <div class="yui3-control-group"> 
        <input type="hidden" value="0" name="veget" />
        <label> veget: </label> <input name="veget" type="checkbox" {{#if veget}}checked {{/if}} value="1" />  

      </div>
      <div class="yui3-control-group">
        <input type="hidden" value="0" name="needHotel" />
        <label> need Hotel: </label> <input name="needHotel" type="checkbox" value="1" {{#if needHotel}}checked {{/if}} />  
      </div>
      <div class="yui3-control-group"> <label> From: </label> <input name="hotelStart" type="text" value="{{hotelStart}}" class="time" />  
      </div>
      <div class="yui3-control-group"> <label> To: </label> <input name="hotelEnd" type="text" value="{{hotelEnd}}" class="time" />  
      </div>
      <div class="yui3-control-group"> <label> lang: </label> <input name="lang" type="text" value="{{lang}}" />  
      </div>
      <div class="yui3-controls"> <button>Ok</button>
      </div> 
    </fieldset>
  </form>
  {{/if}}
</div>
